.main{
	height:1250px;
	width:1330px;
	border:5px solid black;
}
.header{
	height:200px;
	width:1330px;
	border:5px solid black;
	background-color:blue;
}
.img{
	height:200px;
	width:200px;
	float:left;
}
.text{
	height:200px;
	width:1120px;
	float:right;
	text-align:center;
	padding-top:10px;
	font-size:50px;
	color:white;
}
.nev{
	height:80px;
	width:1330px;
	border:5px solid black;
	padding-top:20px;
	background-color:blue;
}
.content{
	height:800px;
	width:1330px;
	border:5px solid black;
}
.sidebar{
	height:800px;
	width:300px;
	border:5px solid black;
	float:left;
	font-size:30px;
	color:blue;
	overflow:scroll;
}
.maincontent{
	height:800px;
	width:1010px;
	border:5px solid black;
	float:right;
}
.footer{
	height:110px;
	width:1330px;
	border:5px solid black;
	background-color:blue;
	text-align:center;
}
p1{
     margin-left:20px;
	 }
	
	 p2{
	 
	     margin-left:100px;
		 }
		  p3{
	 
	     margin-left:140px;
		 }
		 p4{
	 
	     margin-left:120px;
		 }
